<div class="login-container">
  <mat-card class="login-card">

    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Welcome Back</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Enter your email"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter your password"
        />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="loginbtn()" class="login-btn">
        Login
      </button>

      <button (click)="homePagebtn()">Home</button>

    </mat-card-content>

  </mat-card>
</div>