<div class="register-container">
  <mat-card class="register-card">

    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
      <mat-card-subtitle>Create your account</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

   <div>
    <form [formGroup]="registerForm">
         <!-- Full Name & Middle Name -->
      <div class="row">
     <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>

    <input
      matInput
      formControlName="fullName"
      placeholder="Enter Full Name">

    @if (registerForm.get('fullName')?.hasError('required') &&
         registerForm.get('fullName')?.touched) {

      <mat-error>Full Name is required</mat-error>

    }

  </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Middle Name</mat-label>
          <input matInput type="text" formControlName="middleName" placeholder="Enter Middle Name">
        </mat-form-field>
      </div>

      <!-- Last Name & Email -->
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" placeholder="Enter Last Name">
            @if (registerForm.get('lastName')?.hasError('required') &&
         registerForm.get('lastName')?.touched) {

      <mat-error>lastName Name is required</mat-error>

    }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Enter Email">
           <mat-icon matSuffix>email</mat-icon>
          @if (registerForm.get('email')?.hasError('required') &&
         registerForm.get('email')?.touched) {

      <mat-error>email is required</mat-error>
         }
        </mat-form-field>
      </div>

      <!-- Password & Phone -->
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter Password">
           <mat-icon matSuffix>lock</mat-icon>
        @if (registerForm.get('password')?.hasError('required') &&
         registerForm.get('password')?.touched) {
         <mat-error>password is required</mat-error>
         }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput type="tel" formControlName="phone" placeholder="Enter Phone Number">
           <mat-icon matSuffix>phone</mat-icon>
            @if (registerForm.get('phone')?.hasError('required') &&
         registerForm.get('phone')?.touched) {
         <mat-error>phone number is required</mat-error>
         }
        </mat-form-field>
      </div>

      <!-- Gender & Job Role -->
      <div class="row">

        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">

            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="others">Others</mat-option>

          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Job Role</mat-label>
          <mat-select formControlName="jobrole">

            <mat-option value="developer">Developer</mat-option>
            <mat-option value="tester">Tester</mat-option>
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="designer">Designer</mat-option>

          </mat-select>
        </mat-form-field>

      </div>

      <button mat-raised-button color="primary" (click)="registerbtn()" class="register-btn">
        Register
      </button>

      <a (click)="btn1()">if Have account please Login</a>
    </form>
   </div>

    </mat-card-content>

  </mat-card>
</div>